/*
Syntax error: File to import not found or unreadable: ext4/default/all.
              Load paths:
                /usr/local/src/cloud-scale/web/resources/sass
                /usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets
                /usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 8 of /usr/local/src/cloud-scale/web/resources/sass/my-ext-theme.scss

Backtrace:
/usr/local/src/cloud-scale/web/resources/sass/my-ext-theme.scss:8
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/import_node.rb:64:in `import'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:148:in `visit_import'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/engine.rb:291:in `_render'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.1/lib/sass/../sass/engine.rb:238:in `render'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `compile'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `compile'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `run'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `run'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/commands/update_project.rb:45:in `perform'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/bin/compass:29
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/bin/compass:43:in `call'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.1/bin/compass:43
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: ext4/default/all.\A               Load paths:\A                 /usr/local/src/cloud-scale/web/resources/sass\A                 /usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets\A                 /usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 8 of /usr/local/src/cloud-scale/web/resources/sass/my-ext-theme.scss"; }
